/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
*/
.noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
svg{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
a:hover{
    color: black;
}
.d-flex{
    display: flex;
}
body{
    font-family: "Roboto", sans-serif;
}
.header{
    background-color: #aa0601;
    color: #ffffff;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}
.header img{
    width: 80px; 
    height: 48.57px;
    margin-top: 16px;
    margin-bottom: 15.43px;
}
.website-bg{
    justify-content: space-between;
}
.big-list{
    padding: 25px 0px;
    font-size: 20px;
    margin-right: -30px;
    margin-left: -30px;
}
.big-list li{
    padding-right: 30px;
    padding-left: 30px;
}
.offical-image{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: right;
}
.offical-image ul{
    padding: 296px 0;
}
.season-title{
    color: #650300;
    font-size: 36px;
    padding: 9px 0;
}
.look-clear{
    color: #650300;
    font-size: 64px;
    padding: 16px 0;
}
.purchase-frame{
    display: flex;
    justify-content: end;
}
.purchase-now{
    width: 104px;
    display: block;
    margin-right: auto;
    text-align: center;
    background-color: #aa0601;
    color: #ffffff;
    font-size: 20px;
    padding: 6px 12px;
    margin: 4px 0;
}
.product-feature{
    background-color: #fbf2f2;
}
.product-feature ul{
    margin-right: -12px;
    margin-left: -12px;
}
.product-feature h2{
    font-size: 40px;
    color: #650300;
    text-align: center;
    padding-top: 80px;
}
.feature-card{
    text-align: center;
    padding: 0 12px;
}
.feature-card li{
    width: calc(25% - 18px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature-card img{
    width: 100px;
    padding: 24px 0;
}
.feature-card h3{
    color: #650300;
    font-size: 24px;
    padding: 6px 0;
    margin: 8px 0;
}
.feature-card p{
    width: 306px;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 80px;
}
.classic-glass ul{
    margin-right: -12px;
    margin-left: -12px;
}
.classic-glass li{
    padding-right: 12px;
    padding-left: 12px;
}
.classic-glass h2{
    font-size: 48px;
    text-align: center;
    color: #650300;
    padding: 12px 0;
    margin-top: 80px;
    margin-bottom: 40px;
}
.classic-glass p{
    color: #aa0601;
    font-size: 48px;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 80px;
}
.design-glass{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}
.design-glass h2{
    color: #ffffff;
    font-size: 48px;
    padding-top: 92px;
    padding-bottom: 52px;
}
.design-glass li{
    background-color: #ffffff;
    margin-bottom: 80px;
}
.design-glass p{
    color: #aa0601;
    font-size: 48px;
}
.recommendation h2{
    color: #650300;
    font-size: 48px;
    text-align: center;
    padding-top: 92px;
    padding-bottom: 52px;
}
.recommendation ul{
    margin-right: -12px;
    margin-left: -12px;
}
.recommendation li{
    border: 2px solid #Dee2E6;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 80px;
}
.try-frame{
    padding: 16px 16px;
}
.try-frame .try-man{
    font-size: 16px;
    padding: 4px 0;
    margin-bottom: 8px;
}
.try-date{
    color: #707070;
    margin-top: 72px;
}
.contact-us{
    background-color: #fbf2f2;
}
.contact-us h2{
    color: #650300;
    font-size: 48px;
    padding-top: 92px;
    padding-bottom: 52px;
    text-align: center;
}
.contact-frame{
    width: 636px;
    margin: 0 auto;
}
.contact-us p{
    font-size: 20px;
    padding: 5px 0;
}
form{
    margin-top: 24px;
}
.form-label{
    font-size: 16px;
    padding: 4px 0;
    margin: 8px 0;
}
.form-fill{
    width: 636px;
    padding: 6px 12px;
    margin-top: 8px;
}
.form-comment {
    width: 636px;
    padding: 6px 12px;
    padding-bottom: 106px;
    margin: 8px 0;
}
.click-square svg{
    margin: 4px 4px;
}
.click-square p{
    font-size: 16px;
    padding: 4px 0;
    text-align: start;
}
.submit-frame{
    display: block;
    text-align: center;
}
.submit{
    color: #ffffff;
    font-size: 16px;
    width: 416px;
    padding: 16px 0;
    background-color: #aa0601;
    border: #ffffff;
    margin-top: 48px;
    margin-bottom: 80px;
}
.footer{
    background-color: #aa0601;
    color: #ffffff;
}
.service-list{
    justify-content: space-between;
}
.list-frame{
    margin-right: -20px;
    margin-left: -20px;
}
.list-frame li{
    padding: 60px 0;
    padding-right: 20px;
    padding-left: 20px;
}
.icon2{
    margin-right: 40px;
    margin-left: 40px;
}
.socal-icon img{
    width: 48px;
    height: 48px;
    margin-top: 48px;
    margin-bottom: 48px;
}
.phone-email{
    font-size: 36px;
    border-bottom: 1px solid white;
}
.phone-frame p{
    padding-left: 22px;
}
.phone-frame li{
    padding-bottom: 12px;
}
.phone-email .email-frame{
    padding-top: 8px;
    padding-bottom: 32px;
}
.email-frame p{
    padding-left: 20px;
}
.alert-list{
    justify-content: space-between;
}
.copyright p{
    padding: 32px 0;
}
.policy ul{
    margin-right: -48px;
    padding: 32px 0;
}
.policy li{
    padding-right: 48px;
}
@media (max-width: 768px){
    .d-flex{
        flex-wrap: wrap;
    }
    body{
        padding: 0 36px;
    }
    .offical-image{
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    }
    .functional-card{
        width: calc(25% -12px);
    }
    .design-glass{
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true");
    }
    .recommendation li{
        width: 100%;
    }
    .icon2{
        margin-right: 16px;
        margin-left: 16px;
    } 
};
    
@media (max-width: 992px){
    .feature-card ul{
        width: calc(50% - 12px);
    }
}
