/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
*/
.noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
svg{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
a:hover{
    color: black;
}
.d-flex{
    display: flex;
}
.header{
    background-color: #aa0601;
    color: #ffffff;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}
.header img{
    width: 80px; 
    height: 48.57px;
    margin-top: 16px;
    margin-bottom: 15.43px;
}
.website-bg{
    justify-content: space-between;
}
.big-list{
    padding: 25px 0px;
    font-size: 20px;
    margin-right: -30px;
    margin-left: -30px;
}
.big-list li{
    padding-right: 30px;
    padding-left: 30px;
}
.store-location h2{
    font-size: 48px;
    margin-top: 96px;
    margin-bottom: 32px;
    padding: 0 16px;
    border-left: 8px solid #aa0601;
}

.footer{
    background-color: #aa0601;
    color: #ffffff;
}
.service-list{
    justify-content: space-between;
}
.list-frame{
    margin-right: -20px;
    margin-left: -20px;
}
.list-frame li{
    padding: 60px 0;
    padding-right: 20px;
    padding-left: 20px;
}
.icon2{
    margin-right: 40px;
    margin-left: 40px;
}
.socal-icon img{
    width: 48px;
    height: 48px;
    margin-top: 48px;
    margin-bottom: 48px;
}
.phone-email{
    font-size: 36px;
    border-bottom: 1px solid white;
}
.phone-frame p{
    padding-left: 22px;
}
.phone-frame li{
    padding-bottom: 12px;
}
.phone-email .email-frame{
    padding-top: 8px;
    padding-bottom: 32px;
}
.email-frame p{
    padding-left: 20px;
}
.alert-list{
    justify-content: space-between;
}
.copyright p{
    padding: 32px 0;
}
.policy ul{
    margin-right: -48px;
    padding: 32px 0;
}
.policy li{
    padding-right: 48px;
}

@media (max-width: 768px){
    .d-flex{
        flex-wrap: wrap;
    }
    body{
        padding: 0 36px;
    }
    .icon2{
        margin-right: 16px;
        margin-left: 16px;
    } 
};
@media (max-width: 375px){
    body{
        padding: 0 14px;
    }
    .big-list li{
        border: 1px solid white;
    }
    .store-location h2{
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 24px;
    }
    .list-frame li{
        display: none;
    }
    .socal-icon img{
        width: 24px;
    }
    .icon2{
        margin-right: 8px;
        margin-left: 8px;
    } 
}